<div id="eventModal" class='animate-show-hide' ng-show='$ctrl.shouldShow'>
  <form name='adminForm' 
        class='event-admin-container' 
        ng-submit='$ctrl.addItem()'
        novalidate >
    <button type='button' ng-click='$ctrl.shouldShow = !$ctrl.shouldShow'>hide</button>
    <div class='event-admin-item'>
      <input type='text'
             placeholder='New event'
             ng-model='$ctrl.newEvent.title'
             ng-change='$ctrl.sayHiOnChange($ctrl.newEvent.title)'
             ng-required='true'>
    </div>
    <div class='event-admin-item'>
      <input type='text'
             class='datepicker'
             locale='en-UK'
             placeholder="Select start time"
             max-view='hour'
             today='true'
             keyboard='true'
             ng-model='$ctrl.newEvent.startTime'
             moment-picker="startTime"
             ng-required='true'></input>
    </div>
    <div class='event-admin-item'>
      <input type='text'
             class='datepicker'
             locale='en-UK'
             placeholder="Select end time"
             max-view='hour'
             today='true'
             keyboard='true'
             ng-model='$ctrl.newEvent.endTime'
             moment-picker="endTime"
             ng-required='true'></input>
    </div>
    <div class='event-admin-item'>
      <input type='submit' 
             class='eventSubmitBtn'
             value='add event' 
             ng-disabled='adminForm.$invalid'>
    </div>
    <p ng-show='$ctrl.errorText'>{{$ctrl.errorText}}</p>
  </form>
</div>