<div class='animate-container' ng-show='$ctrl.shouldShow'>
  <div id="eventModal" class='animate-show-hide' ng-show='$ctrl.shouldShow'>
  <form name='adminForm' 
        class='event-admin-container' 
        ng-submit='$ctrl.addItem()'
        novalidate >
    <div class='event-admin-item'>
      <input type='text'
             placeholder='New event'
             ng-model='$ctrl.newEvent.title'
             ng-change='$ctrl.sayHiOnChange($ctrl.newEvent.title)'
             ng-required='true'>
    </div>
    <div class='event-admin-item' ng-show='$ctrl.newEvent.title'>
      <input type='text'
             class='datepicker'
             locale='sv'
             format="D MMMM YYYY, HH:mm"
             placeholder="Select start time"
             max-view='hour'
             today='true'
             min-date='$ctrl.today'
             max-date='endTime'
             keyboard='true'
             ng-model='$ctrl.newEvent.startTime'
             moment-picker="startTime"
             ng-required='true'></input>
    </div>
    <div class='event-admin-item' ng-show='startTime'>
      <input type='text'
             class='datepicker'
             locale='sv'
             format="D MMMM YYYY, HH:mm"
             placeholder="Select end time"
             max-view='hour'
             today='true'
             min-date='startTime || $ctrl.today'
             keyboard='true'
             ng-model='$ctrl.newEvent.endTime'
             moment-picker="endTime"
             ng-required='true'></input>
    </div>
    <div class='event-admin-item submit'>
      <input type='submit' 
             class='eventSubmitBtn'
             value='add event' 
             ng-disabled='adminForm.$invalid'>
    </div>
    <p class='event-admin-item error-text animate-show-hide' ng-show='$ctrl.errorText'>{{$ctrl.errorText}}</p>
  </form>
</div>
</div>