<div>
  <h2>Events</h2>
  <ul>
    <li ng-repeat='event in $ctrl.events'>
      <p>{{event.Title}}</p>
      <span>{{event.Start_Time | date: 'medium'}}</span>
      <br>
      <span>{{event.End_Time | date: 'medium'}}</span>
    </li>
  </ul>
  <a href='' ng-click="isEventModalOpen = !isEventModalOpen">New event</a>
  <div id='new-event' ng-show="isEventModalOpen" id="eventModal">
    <input ng-model='$ctrl.addMe' ng-change='$ctrl.sayHiOnChange($ctrl.addMe)'>
    <button ng-click='$ctrl.addItem()'>New event</button>
  </div>
</div>